@model MatchDayLive.Models.Team

@{
    ViewBag.Title = "Delete Team";
    Layout = "~/Views/Shared/adminLayout.cshtml"; 
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Team</legend>

     <div >
        <img src="~/TeamsPictures/@Model.TeamPicture" alt="Team Pic" width="150" height="150"/>
    </div>
    <div >
        
      Team Name:  @Model.TeamName
    </div>
    
    <div >
        City : @Model.City
    </div>
    

    <div >
        Semester : @Model.EmailId
    </div>
   
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to Team Management", "TeamManagement", "Admin")
    </p>
}
