@model MatchDayLive.Models.Team

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/adminLayout.cshtml"; 
}


<body>

<div class="container-fluid">
   <div class="col-sm-3">
   <img src="~/TeamsPictures/@Model.TeamPicture" alt="~/TeamsPictures/temp.png" width="200" height="200"/>
   <h3>Administrator</h3>
  <h4>Welcome to MATCH DAY LIVE</h4>
    
   </div>

 </div>

</body>