@{
    ViewBag.Title = "DeletePlayer";
    Layout = "~/Views/Shared/teamLayout.cshtml";
}

<h2>DeletePlayer</h2>

<h3>Are you sure you want to delete this Player?</h3>
<fieldset>
    <legend>Player</legend>

     <div >
        <img src="~/PlayersPictures/@Model.PlayerPicture" alt="Player Pic" width="150" height="150"/>
    </div>
    <div >   
      Player Name:  @Model.PlayerName
    </div>
    
    <div >
        Player Position : @Model.PlayerPosition
    </div>
    

    <div >
        Player Number : @Model.PlayerNumber
    </div>
   
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to Player Management", "PlayerManagement", "Home")
    </p>
}
