
@{
    ViewBag.Title = "index";
}
 


	 <div id="fh5co-page">
		<div class="fh5co-content-style-6">
			<div class="container">
				<div class="row p-b text-center">
					<div class="col-md-6 col-md-offset-3">
						<h2 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Explore the Local Fields.</h2>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Winning isn't everything ... it's the only thing</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
						<a href="#" class="link-block">
							<figure><img src="~/Content/images/manu.jpg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>Manchester United F.C.</h3>
							<p>Manchester United Football Club is a professional football club based in Old Trafford, Greater Manchester, England, that competes in the Premier League, the top flight of English football. Nicknamed "the Red Devils", the club was founded as Newton Heath LYR Football Club in 1878, changed its name to Manchester United in 1902 and moved to its current stadium, Old Trafford, in 1910.</p>
							<p><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." class="btn btn-primary btn-sm">Learn More</a></p>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".8s">
						<a href="#" class="link-block">
							<figure><img src="~/Content/images/arsenal.jpeg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>Arsenal F.C.</h3>
							<p>Arsenal Football Club is a professional football club based in Holloway, London, that plays in the Premier League, the top flight of English football. The club has won 12 FA Cups, a joint-record, 13 League titles, two League Cups, 14 FA Community Shields, and one UEFA Cup Winners' Cup and Inter-Cities Fairs Cup.</p>
							<p><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." class="btn btn-primary btn-sm">Learn More</a></p>
						</a>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.1s">
						<a href="#" class="link-block">
							<figure><img src="~/Content/images/barca.jpg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>FC Barcelona</h3>
							<p>Futbol Club Barcelona, commonly known as Barcelona and familiarly as Barça, is a professional football club, based in Barcelona, Catalonia, Spain.

Founded in 1899 by a group of Swiss, English and Catalan footballers led by Joan Gamper, the club has become a symbol of Catalan culture and Catalanism, hence the motto "Més que un club" (More than a club). Unlike many other football clubs, the supporters own and operate Barcelona. It is the second most valuable sports team in the world, worth $3.56 billion, and the world's second richest football club in terms of revenue, with an annual turnover of €560.8 million.[2][3] The official Barcelona anthem is the "Cant del Barça", written by Jaume Picas and Josep Maria Espinàs.[4]</p>
							<p><a href="https://en.wikipedia.org/wiki/FC_Barcelona" class="btn btn-primary btn-sm">Learn More</a></p>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.4s">
						<a href="#" class="link-block">
							<figure><img src="~/Content/images/madrid.jpg" alt="Image" class="img-responsive img-rounded"></figure>
							<h3>Real Madrid C.F.</h3>
							<p>Real Madrid Club de Fútbol  (Royal Madrid Football Club), commonly known as Real Madrid, or simply as Real, is a professional football club based in Madrid, Spain. Founded in 1902 as Madrid Football Club, the team has traditionally worn a white home kit since inception. The word Real is Spanish for Royal and was bestowed to the club by King Alfonso XIII in 1920 together with the royal crown in the emblem. The team has played its home matches in the 85,454-capacity Santiago Bernabéu Stadium in downtown Madrid since 1947. Unlike most European sporting entities, Real Madrid's members (socios) have owned and operated the club throughout its history.</p>
							<p><a href="https://en.wikipedia.org/wiki/Real_Madrid_C.F." class="btn btn-primary btn-sm">Learn More</a></p>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-counter-style-2" style="background-image: url(../Content/images/4.jpg);" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="fh5co-section-content-wrap">
					<div class="fh5co-section-content">
						<div class="row">
							<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
								<div class="icon">
									<i class="icon-command"></i>
								</div>
								<span class="fh5co-counter js-counter" data-from="0" data-to="28" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Clients Worked With</span>
								
							</div>
							<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
								<div class="icon">
									<i class="icon-power"></i>
								</div>
								<span class="fh5co-counter js-counter" data-from="0" data-to="57" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Completed Projects</span>
							</div>
							<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
								<div class="icon">
									<i class="icon-code2"></i>
								</div>
								<span class="fh5co-counter js-counter" data-from="0" data-to="34023" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Line of Codes</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="fh5co-testimonial-style-2">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Cheif Executive Officer.</h2>
						<h3 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Match Day Live </h3>
					</div>
				</div>
				<div class="row">
						
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
							<div class="fh5co-name">
								<img src="~/Content/images/ceo.jpg" alt="">
								<div class="fh5co-meta">
									<h3>Azher Aleem</h3>
									<span class="fh5co-company">Eklegeins Inc.</span>
								</div>
							</div>
							<div class="fh5co-text">
								<p>&ldquo;I have always been a sports loving person but out of all the sports i have ever played, Football is the one that pumps the blood. Oh! The adrenaline rush, the enthusiasm, the curiosity. It is true that when you have football at your feet you tend to forget all that worries in life. Keep playing and keep loving football.&rdquo;</p>
							</div>
						</div>	
					</div>
					
					<div class="clearfix visible-sm-block"></div>

				</div>
			</div>	
	    </div>
    
    </div>
